@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 100% 99%;
    --foreground: 220 2% 15%;
    --card: 340 100% 99%;
    --card-foreground: 220 2% 15%;
    --popover: 340 100% 99%;
    --popover-foreground: 220 2% 15%;
    --primary: 90 85% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 83%;
    --secondary-foreground: 220 2% 15%;
    --muted: 220 7% 90%;
    --muted-foreground: 220 5% 40%;
    --accent: 90 85% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 7% 83%;
    --input: 220 7% 83%;
    --ring: 90 85% 45%;
    --chart-1: 90 85% 45%;
    --chart-2: 352 91% 38%;
    --chart-3: 90 85% 60%;
    --chart-4: 352 80% 60%;
    --chart-5: 352 70% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 340 100% 99%;
    --card: 0 0% 7%;
    --card-foreground: 340 100% 99%;
    --popover: 0 0% 0%;
    --popover-foreground: 340 100% 99%;
    --primary: 90 75% 55%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 7% 15%;
    --secondary-foreground: 340 100% 99%;
    --muted: 220 7% 15%;
    --muted-foreground: 220 5% 65%;
    --accent: 90 75% 55%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 7% 20%;
    --input: 220 7% 20%;
    --ring: 90 75% 55%;
    --chart-1: 90 75% 55%;
    --chart-2: 352 91% 45%;
    --chart-3: 90 75% 65%;
    --chart-4: 352 80% 65%;
    --chart-5: 352 70% 75%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body, #vanta-bg {
    @apply bg-black;
  }
}
